.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.buttonContainerCount {
  display: flex;
  margin: 1.5rem;
  justify-content: center;
}

.buttonContainerCount Button {
  border-radius: 3rem;
  background-color: #AF1B3F;
}

.buttonContainerCount Button:hover {
  background-color:#a84a62;
}


.count {
  padding: 0rem 1.5rem;
  width: 10px;
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem;
}

/*Se agregan important por que no me tomaba los estilos*/
.addCart {
  width: 200px;
  border-radius: 3rem !important;
  background-color: #AF1B3F !important;
}

.addCart:hover {
  background-color:#a84a62 !important;
}


