PASS2= secret de mongo session
PASS= pass mongo atlas
EMAIL= email de nodemailer
EMAILPASS= pass nodemailer gmail
ACCOUNT_SID_TWILIO=sid de twilio
AUTH_TOKEN_TWILIO= token de twilio
WHATSAPP= numero propio de wsp
MSG_SERVICE_SID=msn sid
TYPE_DB=mongodb
WEB= web url (para ser usado en cors)