.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem;
  min-height: calc(75vh - 35px);
}

.cartTitle {
  font-size: clamp(2rem, 2.5vw, 4rem);
  text-align: left;
  border-bottom: solid rgba(144, 139, 139, 0.215);
  width: 52vw;
  padding-bottom: 1rem;
  margin: 1rem;
}

.cartList {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 0.3fr 1fr 0.2fr;
  width: 80vw;
  box-shadow: 7px 7px 14px #969696;
}

.cartNotification {
  text-align: center;
  color: rgb(144, 139, 139);
  font-size: 2rem;
  margin: 5rem;
}

.cartTotalSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 8rem 1.5rem 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cartTotalSection Button {
  width: 200px;
  margin: 0 0 1rem;
  border-radius: 2rem;
  background-color: #af1b3f;
}

.cartTotalSection Button:hover {
  background-color: #a84a62;
}

.cartTotalSection h3 {
  margin-top: 2rem;
  text-align: center;
}

.cartTotalSection p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width: 1200px) {
  .cartList {
    width: 70vw;
  }

  .cartTotalSection {
    width: 55vw;
    align-items: flex-end;
  }

  .priceItem {
    padding-right: 5rem;
    width: 10%;
  }

  .quantityItem {
    padding-right: 5rem;
    width: 10%;
  }
}
