.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  width: 100%;
}

.formContainer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar form {
  display: flex;
  flex-direction: row;
}

.searchBar input {
  border-radius: 3rem;
  width: 50vw;
  text-indent: 10px;
}

@media (min-width: 768px) {
  .searchBar input {
    width: 35vw;
  }
}
