.searchBar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.formContainer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.searchBar form {
  display: flex;
  flex-direction: row;
}

.searchBar input {
  border-radius: 3rem;
}

@media (min-width: 768px) {
  .formContainer {
    width: 50%;
  }
}
